@model WebBack.Models.Biz.Transactions.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

<div class="gbr-row-title clearfix">
    <div class="pull-left">
        <h5>商户信息</h5>
    </div>
</div>
<table class="f-tb1-detail">
    <tr>
        <td class="t">商户代码：</td>
        <td class="c">
            <span>@Model.Merchant.ClientCode</span>
        </td>
        <td class="t">商户名称：</td>
        <td class="c">
            @Model.Merchant.YYZZ_Name
        </td>
    </tr>
</table>

<div class="gbr-row-title clearfix">
    <div class="pull-left">
        <h5>资金流水</h5>
    </div>
</div>

<table class="f-tb1-detail">
    <tr>
        <td class="t">交易流水号：</td>
        <td class="c">
            <span>@Model.Transactions.Sn</span>
        </td>
    </tr>
    <tr>
        <td class="t">交易时间：</td>
        <td class="c">
            <span>@Model.Transactions.CreateTime.ToUnifiedFormatDateTime()</span>
        </td>
    </tr>
    <tr>
        <td class="t">类型：</td>
        <td class="c">
            <span>  @Model.Transactions.Type.GetCnName()</span>

        </td>
    </tr>
    <tr>
        <td class="t">金额：</td>
        <td class="c">
            <span>@Model.Transactions.ChangeAmount</span>
        </td>
    </tr>
    <tr>
        <td class="t">备注：</td>
        <td class="c">
            <span>@Model.Transactions.Description</span>
        </td>
    </tr>
</table>
