@model WebBack.Models.Sys.StaffUser.EditViewModel
@{
    ViewBag.Title = "修改用户信息";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}

@section scripts{
    <script type="text/javascript">
        <!--
        //配置树形
        var setting = {
            view: {
                selectedMulti: false
            },
            check: {
                enable: true,
                chkboxType: { "Y": "s", "N": "s" }
            },
            data: {
                simpleData: {
                    enable: true
                }
            }
        };
        var zTree;
        function loadTreeList() {
            var id = $.lumos.getUrlParamValue("id");

            $.lumos.postJson({
                url: "../StaffUser/GetUserRoleTree",
                data: { userId: id },
                success: function (d) {
                    var zNodes = d.data;
                    zTree=$.fn.zTree.init($("#treeul"), setting, zNodes);
                }
            });

        }
        $(this).ready(function () {
            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { }, onSuccess: function () { return update(); } });

        
            $("#Model_SysStaffUser_FullName").formValidator({ onShow: "&nbsp;", onFocus: "不超过50个字", onCorrect: "&nbsp;" }).inputValidator({ min: 1, max: 50, empty: { leftEmpty: false, emptyError: "不能有空格" }, onError: "不超过50个字符" }).defaultPassed();
            $("#Model_SysStaffUser_Email").formValidator({ onShow: "&nbsp;", onFocus: "邮箱格式且不超过100个字符", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).inputValidator({ min: 0, max: 100, onError: "邮箱格式且不超过100个字符" }).regexValidator({ regExp: regexEnum.email, onError: "邮箱格式且不超过100个字符" });
            $("#Model_SysStaffUser_PhoneNumber").formValidator({ onShow: "&nbsp;", onFocus: "手机号码格式", onCorrect: "&nbsp;", empty: true, onEmpty: "&nbsp;" }).regexValidator({ regExp: regexEnum.mobile, onError: "手机号码格式" });


            loadTreeList();

            $("#abtn-editPwd").toggle(function () {
                $("#lbl_Password").hide();
                $("#Model_SysStaffUser_PasswordHash").show();
                $(this).text("取消");
            }, function () {
                $("#lbl_Password").show();
                $("#Model_SysStaffUser_PasswordHash").hide();
                $("#Model_SysStaffUser_PasswordHash").val("");
                $(this).text("修改");
            }
            );
        });

        function update() {

            art.dialog.confirm(
'确定要保存？',
function () {
    var postData = $("#form1").serializeArray();

    var nodes = zTree.getCheckedNodes(true);

    $.each(nodes, function (i, n) {
        postData.push({ name: "Model.UserRoleIds", value: n.id });
    });


    $.lumos.postJson({
        url: "../StaffUser/Edit",
        data: postData,
        success: function (d) {
            if (d.result == resultType.success) {
                $.lumos.parentDialog().listTable.loadData();
                $.lumos.tips(d.message, true);
            }
            else {
                $.lumos.tips(d.message);
            }
        }
    });
});
            return false;
        }

        //-->
    </script>
}
<div class="gbr-row">
    <form id="form1" name="form1"  method="post">
        @Html.AntiForgeryToken()
        <input name="Model.SysStaffUser.Id"type="hidden" value="@Model.SysStaffUser.Id"  />
        <table class="f-tb" cellpadding="0" cellspacing="1">
            <tr>
                <td class="f-tb-t" style="width:50px;">
                    用户名：
                </td>
                <td class="f-tb-c">
                    <label id="lbl_UserName">@Model.SysStaffUser.UserName</label>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    密码：
                </td>
                <td class="f-tb-c">
                    <label id="lbl_Password">******</label>

                    <input name="Model.SysStaffUser.PasswordHash" class="input-control" autocomplete="off" type="password" id="Model_SysStaffUser_PasswordHash" style="width: 150px;display:none;" />
                    <a class="a-btn" id="abtn-editPwd" href="javascript:void(0)">修改</a>
                    <span id="Model_SysStaffUser_PasswordHashTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    姓名：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysStaffUser.FullName" class="input-control" type="text" id="Model_SysStaffUser_FullName" value="@Model.SysStaffUser.FullName" style="width: 150px;" />
                    <span id="Model_SysStaffUser_FullNameTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    E-mail：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysStaffUser.Email" class="input-control" type="text" id="Model_SysStaffUser_Email" value="@Model.SysStaffUser.Email" style="width: 150px;" />
                    <span id="Model_SysStaffUser_EmailTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    手机：
                </td>
                <td class="f-tb-c">
                    <input name="Model.SysStaffUser.PhoneNumber" class="input-control" type="text" id="Model_SysStaffUser_PhoneNumber" value="@Model.SysStaffUser.PhoneNumber" style="width: 150px;" />
                    <span id="Model_SysStaffUser_PhoneNumberTip"></span>
                </td>
            </tr>
            <tr>
                <td class="f-tb-t">
                    角色：
                </td>
                <td class="f-tb-c" colspan="4">
                    <ul id="treeul" class="ztree"></ul>
                </td>
            </tr>
            <tr style="display:none">
                <td class="f-tb-t"></td>
                <td class="f-tb-c">
                    <input type="submit" name="btn_Submit" id="btn_Submit" value="保存" class="btn btn-save" />
                    <input type="button" name="btn_Cancle" id="btn_Cancle" value="关闭" class="btn btn-close dialog-close" />
                </td>
            </tr>
        </table>
    </form>
</div>






