@model WebBack.Models.Biz.CarInsureOffer.DealtViewModel
@{
    ViewBag.Title = "Dealt";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}
@section styles{
    <style type="text/css">
        .f-tb1-detail .t {
            width: 120px;
        }

        .f-tb1-detail .c {
            width: 280px;
        }
    </style>

}
@section scripts{

    <script type="text/javascript">

        $(document).ready(function () {

            var win = art.dialog.open.origin;
            var dealtStatus = $.lumos.getUrlParamValue("dealtStatus");
            if (dealtStatus == "@((int)Lumos.Entity.Enumeration.CarInsureOfferDealtStatus.WaitOffer)") {
                win.listTable.loadData();
            }



            @if (Model.IsHasOperater)
            {
                @Html.Raw("setTimeout(function () {art.dialog({ title: '提示', content: '用户【" + Model.OperaterName + "】正在审核', cancelVal:'退出',cancel: function () {art.dialog.close();}, lock: true, drag: false, dblclickClose: false }); }, 100);");
            }

            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.tips(msg); } });
            $("#Model_OrderToCarInsure_CarOwner").formValidator().inputValidator({ min: 1, max: 20, onError: "车主姓名不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarOwnerIdNumber").formValidator().inputValidator({ min: 1, max: 20, onError: "车主身份证号码不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarPlateNo").formValidator().inputValidator({ min: 1, max: 20, onError: "车牌号码不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarUserCharacter").formValidator().inputValidator({ min: 1, max: 20, onError: "车辆使用性质不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarModel").formValidator().inputValidator({ min: 1, max: 20, onError: "品牌型号不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarVin").formValidator().inputValidator({ min: 1, max: 20, onError: "车辆识别代号不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarEngineNo").formValidator().inputValidator({ min: 1, max: 20, onError: "发动机号不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarSeat").formValidator().inputValidator({ min: 1, max: 20, onError: "核定载人数不能为空,且不超过20个字符" });
            $("#Model_OrderToCarInsure_CarVechicheType").formValidator().inputValidator({ min: 1, max: 20, onError: "车辆型号不能为空,且不超过20个字符" });
            // $("#Model_OrderToCarInsure_CarIssueDate").formValidator().regexValidator({ min: 1, max: 20, regExp: regexEnum.date, onError: "车辆发证日期格式不正确,格式例子:2016-08-08" });
            $("#Model_OrderToCarInsure_CarRegisterDate").formValidator().regexValidator({ min: 1, max: 20, regExp: regexEnum.date, onError: "车辆注册日期格式不正确,格式例子:2016-08-08" });
            $("#Model_OrderToCarInsure_PeriodStart").formValidator().regexValidator({ min: 1, max: 20, regExp: regexEnum.date, onError: "承保期间（开始）格式不正确,格式例子:2016-08-08" });
            //  $("#Model_OrderToCarInsure_PeriodEnd").formValidator().regexValidator({ min: 1, max: 20, regExp: regexEnum.date, onError: "承保期间（结束）格式不正确,格式例子:2016-08-08" });


            $("#Model_OrderToCarInsure_Remarks").formValidator({ onShow: "", onFocus: "", onCorrect: "", empty: true, onEmpty: "" }).inputValidator({ min: 0, max: 15, onError: "告知备注不超过15个字" });



            $(".insureimgurl").each(function (i, e) {
                var insurancecompanyname = $(e).parent().parent().find('.insurancecompanyname').text();
                $(e).formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 1, max: 500, onError: "请上传" + insurancecompanyname + "投保单" });
            });



            $(".insuranceOrderid").each(function (i, e) {
                var insurancecompanyname = $(e).parent().parent().find('.insurancecompanyname').text();
                $(e).formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ min: 0, max: 50, empty: { leftEmpty: false }, onError: insurancecompanyname + "的投保单号不能为空,且不超过50个字符" });
            });


            $(".compulsoryprice").each(function (i, e) {
                var insurancecompanyname = $(e).parent().parent().find('.insurancecompanyname').text();
                $(e).formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ type: "number", min: 0.01, max: 100000000, onError: insurancecompanyname + "的交强险金额范围在0.01~100000000.00之间" });
                $(e).decimalInput(2);
            });

            $(".traveltaxprice").each(function (i, e) {
                var insurancecompanyname = $(e).parent().parent().find('.insurancecompanyname').text();
                $(e).formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ type: "number", min: 0.01, max: 100000000, onError: insurancecompanyname + "车船税金额范围在0.01~100000000.00之间" });
                $(e).decimalInput(2);
            });

            $(".commercialprice").each(function (i, e) {
                var insurancecompanyname = $(e).parent().parent().find('.insurancecompanyname').text();
                $(e).formValidator({ onShow: "", onFocus: "", onCorrect: "" }).inputValidator({ type: "number", min: 0.01, max: 100000000, onError: insurancecompanyname + "商业险金额范围在0.01~100000000.00之间" });
                $(e).decimalInput(2);
            });

        });



        function submit(operate, fun) {
            var form = $("#form1");
            var msg = "";
            var model_OrderToCarInsure_Remarks = $("#Model_OrderToCarInsure_Remarks").val();
            if (operate == operateType.save) {
                msg = "确定要保存？";
                $(form).find('*').setInputRequired(false);
            }
            else if (operate == operateType.submit) {
                msg = "确定要提交报价？";
                $(form).find('*').setInputRequired(true);
            }
            else if (operate == operateType.reject) {
                msg = "确定要转给客户跟进？";
                $(form).find('*').setInputRequired(false);

                if (model_OrderToCarInsure_Remarks == "") {
                    $.lumos.tips('请输入告知备注');
                    return;
                }
            }
            else if (operate == operateType.cancle) {
                msg = "确定要取消该订单？";
                $(form).find('*').setInputRequired(false);

                if (model_OrderToCarInsure_Remarks == "") {
                    $.lumos.tips('请输入告知备注');
                    return;
                }
            }

            var isValid = $.formValidator.pageIsValid();
            if (isValid) {

                art.dialog.confirm(msg, function () {
                    var l_Data = $("#form1").serializeArray();
                    l_Data.push({ name: "Model.Operate", value: operate });

                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "../CarInsureOffer/Dealt",
                        data: l_Data,
                        success: function (data) {
                            fun(data);

                        }
                    });
                });
            }
            return false;

        }

    </script>
}

<form id="form1" name="form1">
    @AntiForgery.GetHtml()
    <input name="Model.OrderToCarInsure.Id" type="hidden" value="@Model.OrderToCarInsure.Id" />
    <input name="Model.BizProcessesAudit.CurrentDetails.Id" type="hidden" value="@Model.BizProcessesAudit.CurrentDetails.Id" />
    <input name="Model.BizProcessesAudit.CurrentDetails.BizProcessesAuditId" type="hidden" value="@Model.BizProcessesAudit.CurrentDetails.BizProcessesAuditId" />

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>商户信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb1-detail">
        <tr>
            <td class="t">商户代码：</td>
            <td class="c">
                <span>@Model.Merchant.ClientCode</span>
            </td>
            <td class="t">商户名：</td>
            <td class="c">
                <span>@Model.Merchant.YYZZ_Name</span>
            </td>
        </tr>
        <tr>
            <td class="t">联系人：</td>
            <td class="c">
                <span>@Model.Merchant.ContactName</span>
            </td>
            <td class="t">联系电话：</td>
            <td class="c">
                <span>@Model.Merchant.ContactPhoneNumber</span>
            </td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>险种信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:5%" class="no">
                    序号
                </th>
                <th style="width:20%">
                    名称
                </th>
                <th style="width:20%">

                </th>
                <th style="width:20%">

                </th>
                <th style="width:20%">
                    投保明细
                </th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.OrderToCarInsureOfferKind.Count; i++)
            {

                <tr>
                    <td class="no">@(i + 1)</td>
                    <td class="overflow tipitem">@Model.OrderToCarInsureOfferKind[i].KindName</td>
                    <td class="overflow tipitem">@(Model.OrderToCarInsureOfferKind[i].KindValue + Model.OrderToCarInsureOfferKind[i].KindUnit)</td>
                    <td class="overflow">@(Model.OrderToCarInsureOfferKind[i].IsWaiverDeductible == true ? "不计入免赔额" : "")</td>
                    <td class="overflow">@Model.OrderToCarInsureOfferKind[i].KindDetails</td>
                </tr>
            }

        </tbody>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>客户要求</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1" cellpadding="0" cellspacing="1" style="width:96%">
        <tr>
            <td>
                @Model.OrderToCarInsure.ClientRequire
            </td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>证件图片</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>


    <table class="f-tb1-detail" style="text-align:center">
        <tr style="vertical-align:top">
            <td>
                <div>
                    <span class="uploadimgbox" upload="false">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.CZ_CL_XSZ_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="">预览</span>
                    </span>
                </div>
                <div>
                    <span>车辆行驶证</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.CZ_SFZ_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="">预览</span>
                    </span>
                </div>
                <div>
                    <span>身份证</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.CCSJM_WSZM_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="">预览</span>
                    </span>
                </div>
                <div>
                    <span>车船税减免<br />或完税证明</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.YCZ_CLDJZ_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="@Model.OrderToCarInsure.YCZ_CLDJZ_ImgUrl">预览</span>
                    </span>
                </div>
                <div>
                    <span>验证照<br />或辆登记证</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.ZJ1_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="@Model.OrderToCarInsure.ZJ1_ImgUrl">预览</span>
                    </span>
                </div>
                <div>
                    <span>其他证件1</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.ZJ2_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="@Model.OrderToCarInsure.ZJ2_ImgUrl">预览</span>
                    </span>
                </div>
                <div>
                    <span>其他证件2</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.ZJ3_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="@Model.OrderToCarInsure.ZJ3_ImgUrl">预览</span>
                    </span>
                </div>
                <div>
                    <span>其他证件3</span>
                </div>
            </td>
            <td>
                <div>
                    <span class="uploadimgbox">
                        <span class="uploadimg">
                            <img src="@Model.OrderToCarInsure.ZJ4_ImgUrl" />
                        </span>
                        <span class="uploadimg-view" style="@Model.OrderToCarInsure.ZJ4_ImgUrl">预览</span>
                    </span>
                </div>
                <div>
                    <span>其他证件4</span>
                </div>
            </td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>投保信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table class="f-tb1-detail">
        <tr>
            <td class="t"><span class="required-symbol">*</span>车主姓名：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarOwner" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarOwner" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarOwner" /></span>
            </td>
            <td class="t"><span class="required-symbol">*</span>车主身份证号码：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarOwnerIdNumber" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarOwnerIdNumber" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarOwnerIdNumber" /></span>
            </td>
        </tr>
        <tr>
            <td class="t"><span class="required-symbol">*</span>车牌号码：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarPlateNo" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarPlateNo" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarPlateNo" /></span>
            </td>
            <td class="t"><span class="required-symbol">*</span>车辆使用性质：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarUserCharacter" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarUserCharacter" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarUserCharacter" /></span>
            </td>
        </tr>
        <tr>
            <td class="t"><span class="required-symbol">*</span>品牌型号：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarModel" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarModel" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarModel" /></span>
            </td>
            <td class="t"><span class="required-symbol">*</span>车辆识别代号：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarVin" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarVin" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarVin" /></span>
            </td>
        </tr>
        <tr>
            <td class="t"><span class="required-symbol">*</span>发动机号：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarEngineNo" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarEngineNo" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarEngineNo" /></span>
            </td>
            <td class="t"><span class="required-symbol">*</span>核定载人数：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarSeat" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarSeat" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarSeat" /></span>
            </td>
        </tr>
        <tr>
            <td class="t"><span class="required-symbol">*</span>车辆型号</td>
            <td class="c"><span><input name="Model.OrderToCarInsure.CarVechicheType" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarVechicheType" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarVechicheType" /></span></td>
            <td class="t"><span class="required-symbol">*</span>注册日期：</td>
            <td class="c">
                <span><input name="Model.OrderToCarInsure.CarRegisterDate" type="text" autocomplete="off" id="Model_OrderToCarInsure_CarRegisterDate" class="input-control" style="width:175px;" value="@Model.OrderToCarInsure.CarRegisterDate" onclick="WdatePicker()" /></span>
            </td>
        </tr>
        <tr>
            <td class="t"><span class="required-symbol">*</span>承保期间（开始）：</td>
            <td class="c">
                <span><input type="text" class="input-control" name="Model.OrderToCarInsure.PeriodStart" id="Model_OrderToCarInsure_PeriodStart" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'Model_OrderToCarInsure_PeriodStart\')}' })" style="width:175px;" value="@(Model.OrderToCarInsure.PeriodStart==null?DateTime.Now.ToUnifiedFormatDate():Model.OrderToCarInsure.PeriodStart.ToUnifiedFormatDate())" /></span>
            </td>
            <td class="t"></td>
            <td class="c">
                <span></span>
            </td>

            @*<td class="t"><span class="required-symbol">*</span>承保期间（结束）：</td>
                <td class="c">
                    <span><input type="text" class="input-control" name="Model.OrderToCarInsure.PeriodEnd" id="Model_OrderToCarInsure_PeriodEnd" onclick="WdatePicker({ minDate: '#F{$dp.$D(\'Model_OrderToCarInsure_PeriodEnd\')}' })" style="width:175px;" value="@Model.OrderToCarInsure.PeriodEnd.ToUnifiedFormatDate()" /></span>
                </td>*@
        </tr>
    </table>
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>填写保险报价</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <table id="list_table" class="list-tb" cellpadding="0" cellspacing="0">
        <thead>
            <tr>
                <th style="width:5%" class="no">
                    序号
                </th>
                <th style="width:10%">
                    保险公司
                </th>
                <th style="width:15%">
                    <span class="required-symbol">*</span>投保单图片
                </th>
                <th style="width:25%">
                    投保单号
                </th>
                <th style="width:15%">
                    <span class="required-symbol">*</span>交强险
                </th>
                <th style="width:15%">
                    <span class="required-symbol">*</span>车船税
                </th>
                <th style="width:15%">
                    <span class="required-symbol">*</span>商业险
                </th>
            </tr>
        </thead>
        <tbody>

            @for (var i = 0; i < Model.OrderToCarInsureOfferCompany.Count; i++)
            {

                <tr>
                    <td class="no">@(i + 1)</td>
                    <td class="overflow tipitem">
                        <span class="insurancecompanyname">@Model.OrderToCarInsureOfferCompany[i].InsuranceCompanyName</span>
                        <input name="Model.OrderToCarInsureOfferCompany[@i].Id" type="hidden" value="@Model.OrderToCarInsureOfferCompany[i].Id" />
                    </td>
                    <td>


                        <span class="uploadimgbox" upload="true">
                            <span class="uploadimg" inputname="Model.OrderToCarInsureOfferCompany[@i].InsureImgUrl">
                                <img src="@Model.OrderToCarInsureOfferCompany[i].InsureImgUrl" />
                                <span class="uploadimg-click" style="">上传</span>
                                <input id="Model_OrderToCarInsureOfferCompany_InsureImgUrl_@i" value="@Model.OrderToCarInsureOfferCompany[i].InsureImgUrl" class="insureimgurl" name="Model.OrderToCarInsureOfferCompany[@i].InsureImgUrl" type="hidden" />
                            </span>
                            <span class="uploadimg-view" style="">预览</span>
                            <span class="insurancecompanyname" style="display:none">@Model.OrderToCarInsureOfferCompany[i].InsuranceCompanyName</span>
                        </span>

                    </td>
                    <td class="overflow">
                        <input name="Model.OrderToCarInsureOfferCompany[@i].InsuranceOrderId" type="text" autocomplete="off" id="Model_OrderToCarInsureOfferCompany_InsuranceOrderId_@i" style="width:150px;" class="input-control insuranceOrderid" value="@Model.OrderToCarInsureOfferCompany[i].InsuranceOrderId" />
                    </td>
                    <td class="overflow">
                        @if (Model.IsHasCompulsoryPrice)
                        {
                            <input name="Model.OrderToCarInsureOfferCompany[@i].CompulsoryPrice" type="text" autocomplete="off" id="Model_OrderToCarInsureOfferCompany_CompulsoryPrice_@i" style="width:70px;" class="input-control compulsoryprice" value="@Model.OrderToCarInsureOfferCompany[i].CompulsoryPrice" />
                        }

                    </td>
                    <td class="overflow">
                        @if (Model.IsHasCravelTaxPrice)
                        {
                            <input name="Model.OrderToCarInsureOfferCompany[@i].TravelTaxPrice" type="text" autocomplete="off" id="Model_OrderToCarInsureOfferCompany_CravelTaxPrice_@i" style="width: 70px;" class="input-control traveltaxprice" value="@Model.OrderToCarInsureOfferCompany[i].TravelTaxPrice" />
                        }
                    </td>
                    <td class="overflow">
                        @if (Model.IsHasCommercialPrice)
                        {
                            <input name="Model.OrderToCarInsureOfferCompany[@i].CommercialPrice" type="text" autocomplete="off" id="Model_OrderToCarInsureOfferCompany_CommercialPrice_@i" style="width: 70px;" class="input-control commercialprice" value="@Model.OrderToCarInsureOfferCompany[i].CommercialPrice" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @Html.Partial("AuditFlowTrace", Model.BizProcessesAudit.HistoricalDetails)

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>告知备注</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1" cellpadding="0" cellspacing="1" style="width:96%">
        <tr>
            <td>
                <input type="text" style="width:400px" name="Model.OrderToCarInsure.Remarks" class="input-control" id="Model_OrderToCarInsure_Remarks" value="@Model.OrderToCarInsure.Remarks" />
            </td>
        </tr>
    </table>
</form>