@model WebBack.Models.Biz.CarClaim.VerifyOrderViewModel
@{
    ViewBag.Title = "Dealt";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}
@section styles{
    <style type="text/css">
        .f-tb1-detail .t {
            width: 120px;
        }

        .f-tb1-detail .c {
            width: 280px;
        }
    </style>

}
@section scripts{

    <script type="text/javascript">

        var listTable;
        var estimateMerchantId =@(Model.OrderToCarClaim.HandMerchantId == null ? 0 : Model.OrderToCarClaim.HandMerchantId.Value)
        $(document).ready(function () {

            var win = art.dialog.open.origin;
            var dealtStatus = $.lumos.getUrlParamValue("dealtStatus");
            if (dealtStatus == "@((int)Lumos.Entity.Enumeration.CarClaimDealtStatus.WaitVerifyOrder)") {
                win.listTable.loadData();
            }


            @if (Model.IsHasOperater)
            {
                @Html.Raw("setTimeout(function () {art.dialog({ title: '提示', content: '用户【" + Model.OperaterName + "】正在审核', cancelVal:'退出',cancel: function () {art.dialog.close();}, lock: true, drag: false, dblclickClose: false }); }, 100);");
            }


            $.formValidator.initConfig({ formID: "form1", onError: function (msg) { art.dialog.tips(msg); } });

            $("#Model_OrderToCarClaim_Remarks").formValidator({ onShow: "", onFocus: "", onCorrect: "", onEmpty: "" }).inputValidator({ min: 1, max: 20, onError: "告知商户备注不超过20个字符" });
            $("#Model_EstimateMerchantRemarks").formValidator({ onShow: "", onFocus: "", onCorrect: "", onEmpty: "" }).inputValidator({ min: 1, max: 20, onError: "告知维修厂备注不超过20个字符" });


            listTable = $("#list_table_repairmerchant").loadDataTable({
                url: "../CarClaim/GetRepairMerchantList",
                pageIndex: 0,
                searchParams: $("#form1").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form1",
                rowDataCombie: function (p_index, p_row) {


                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"no\" >" + (p_index + 1) + "</td>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.clientCode + "\"   >" + p_row.clientCode + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.yyzZ_Name + "\">" + p_row.yyzZ_Name + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.contactName + "\">" + p_row.contactName + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.contactPhoneNumber + "\">" + p_row.contactPhoneNumber + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.contactAddress + "\">" + p_row.contactAddress + "</td>";
                    l_StrRows += "<td class=\"operation\">";


                    var checked = "";
                    if (estimateMerchantId == p_row.id) {
                        checked = "checked";
                    }

                    l_StrRows += "<input  type=\"radio\" name=\"Model.EstimateMerchantId\" value=\"" + p_row.id + "\" " + checked + " />";


                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                }
            });


        });



        function submit(operate, fun) {
            var form = $("#form1");
            var msg = "";
            var model_OrderToCarClaim_Remarks = $("#Model_OrderToCarClaim_Remarks").val();

            if (operate == operateType.save) {
                msg = "确定要保存？";
                $(form).find('*').setInputRequired(false);
            }
            if (operate == operateType.submit) {
                msg = "确定要派单？";
                $(form).find('*').setInputRequired(true);

                var estimateMerchantId = $(":radio[name='Model.EstimateMerchantId']:checked").val();

                if (typeof estimateMerchantId == 'undefined') {
                    $.lumos.tips('请选择一件维修厂');
                    return;
                }
            }
            else if (operate == operateType.cancle) {
                msg = "确定要取消该订单？";
                $(form).find('*').setInputRequired(false);

                if (model_OrderToCarClaim_Remarks == "") {
                    $.lumos.tips('请输入告知商户备注');
                    return;
                }
            }

            var isValid = $.formValidator.pageIsValid();
            if (isValid) {

                art.dialog.confirm(msg, function () {
                    var l_Data = $("#form1").serializeArray();
                    l_Data.push({ name: "Model.Operate", value: operate });

                    $.lumos.postJson({
                        isUseHandling: true,
                        url: "../CarClaim/VerifyOrder",
                        data: l_Data,
                        success: function (data) {
                            fun(data);

                        }
                    });
                });
            }
            return false;

        }

    </script>
}

<form id="form1" name="form1">
    @AntiForgery.GetHtml()
    <input name="Model.OrderToCarClaim.Id" type="hidden" value="@Model.OrderToCarClaim.Id" />
    <input name="InsuranceCompanyId" type="hidden" value="@Model.OrderToCarClaim.InsuranceCompanyId" />
    <input name="MerchantId" type="hidden" value="@Model.OrderToCarClaim.MerchantId" />
    <input name="Model.BizProcessesAudit.CurrentDetails.Id" type="hidden" value="@Model.BizProcessesAudit.CurrentDetails.Id" />
    <input name="Model.BizProcessesAudit.CurrentDetails.BizProcessesAuditId" type="hidden" value="@Model.BizProcessesAudit.CurrentDetails.BizProcessesAuditId" />

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>商户信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1-detail">
        <tr>
            <td class="t">商户代码：</td>
            <td class="c">
                <span>@Model.Merchant.ClientCode</span>
            </td>
            <td class="t">商户名：</td>
            <td class="c">
                <span>@Model.Merchant.YYZZ_Name</span>
            </td>
            <td class="t">商户类型：</td>
            <td class="c">
                <span>@Model.Merchant.Type.GetCnName()</span>
            </td>
        </tr>
        <tr>

            <td class="t">联系人：</td>
            <td class="c">
                <span>@Model.Merchant.ContactName</span>
            </td>
            <td class="t">联系电话：</td>
            <td class="c">
                <span>@Model.Merchant.ContactPhoneNumber</span>
            </td>
            <td class="t">联系地址：</td>
            <td class="c">
                <span>@Model.Merchant.ContactAddress</span>
            </td>
        </tr>


    </table>
    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>理赔需求信息</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1-detail">
        <tr>
            <td class="t">保险公司：</td>
            <td class="c">
                <span>@Model.OrderToCarClaim.InsuranceCompanyName</span>
            </td>
            <td class="t">车牌号码：</td>
            <td class="c">
                <span>@Model.OrderToCarClaim.CarPlateNo</span>
            </td>
            <td class="t">方式：</td>
            <td class="c">
                <span>@Model.OrderToCarClaim.RepairsType.GetCnName()</span>
            </td>
        </tr>
        <tr>
            <td class="t">对接人：</td>
            <td class="c">
                <span>@Model.OrderToCarClaim.HandPerson</span>
            </td>
            <td class="t">对接电话：</td>
            <td class="c">
                <span>@Model.OrderToCarClaim.HandPersonPhone</span>
            </td>
            <td class="t"></td>
            <td class="c"></td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>客户要求</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1" cellpadding="0" cellspacing="1" style="width:96%">
        <tr>
            <td>
                @Model.OrderToCarClaim.ClientRequire
            </td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>选择维修厂</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>

    <div class="list">
        <table id="list_table_repairmerchant" class="list-tb" cellpadding="0" cellspacing="0">
            <thead>
                <tr>
                    <th style="width:15%" class="no">
                        序号
                    </th>
                    <th style="width:15%">
                        商户代码
                    </th>
                    <th style="width:15%">
                        商户名称
                    </th>
                    <th style="width:15%">
                        联系人
                    </th>
                    <th style="width:15%">
                        联系电话
                    </th>
                    <th style="width:15%">
                        联系地址
                    </th>
                    <th style="width:10%" class="operation">

                    </th>
                </tr>
            </thead>
            <tbody></tbody>
            <tfoot>
                <tr>
                    <td colspan="7">
                        <div class="pull-left">

                        </div>
                        <div class="pull-right pagination">
                            <div class="pagination-info">

                            </div>
                            <div class="pagination-index">

                            </div>
                            <div class="pagination-goto">

                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>告知商户备注</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1" cellpadding="0" cellspacing="1" style="width:96%">
        <tr>
            <td>
                <input type="text" style="width:400px" name="Model.OrderToCarClaim.Remarks" class="input-control" id="Model_OrderToCarClaim_Remarks" value="@Model.OrderToCarClaim.Remarks" />
            </td>
        </tr>
    </table>

    <div class="gbr-row-title clearfix">
        <div class="pull-left">
            <h5>告知维修厂备注</h5>
        </div>
        <div class="pull-right f-tb1-item-pull-right">
            <h6></h6>
        </div>
    </div>
    <table class="f-tb1" cellpadding="0" cellspacing="1" style="width:96%">
        <tr>
            <td>
                <input type="text" style="width:400px" name="Model.EstimateMerchantRemarks" class="input-control" id="Model_EstimateMerchantRemarks" value="@Model.EstimateMerchantRemarks" />
            </td>
        </tr>
    </table>
</form>