@model WebBack.Models.Biz.Merchant.DetailsViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutHomeDialog.cshtml";
}
@section styles{
    <style type="text/css">
        .f-tb1-detail .t {
            width: 120px;
        }

        .f-tb1-detail .c {
            width: 280px;
        }
    </style>

}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

            $("#list_withdraws").loadDataTable({
                url: "/Merchant/GetWithdrawList",
                pageIndex: 0,
                searchParams: $("#form_withdraws").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_withdraws",
                isShowLoading: false,
                rowDataCombie: function (p_index, p_row) {
                    var l_Strlimt = "";
                    l_Strlimt += "@Html.IsInPermission("<a href=\\\"javascript:void(0)\\\" operate=\\\"details\\\"   class=\\\"a-btn a-btn-edit\\\"  >查看</a>")";
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"overflow tipitem\" title=\"" + p_row.sn + "\"   >" + p_row.sn + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.amount + "\">" + p_row.amount + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.amountByAfterFee + "\">" + p_row.amountByAfterFee + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.fee + "\">" + p_row.fee + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.status + "\">" + p_row.status + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.settlementStartTime + "\">" + p_row.settlementStartTime + "</td>";
                    l_StrRows += "<td class=\"operation\">";
                    l_StrRows += l_Strlimt;
                    l_StrRows += "</td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "details": function (obj) {
                        var url = '/Biz/Withdraw/Details?id=' + obj.id;
                        var title = '查看提现记录';
                        art.dialog.open(url, { title: title, width: '650px', height: '500px', lock: true, drag: false, cancelVal: '关闭', cancel: true });
                    }
                }
            });

            $("#form_transactions").loadDataTable({
                url: "../Merchant/GetTransactionsList",
                pageIndex: 0,
                searchParams: $("#form_transactions").serializeArray(),
                searchButtonId: "btn_Search",
                containerId: "form_transactions",
                isShowLoading: false,
                rowDataCombie: function (p_index, p_row) {
                    var l_StrRows = "";
                    l_StrRows += "<tr>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.sn + "\">" + p_row.sn + "</td>";
                    l_StrRows += "<td class=\"overflow\" >" + p_row.type + "</td>";
                    l_StrRows += "<td class=\"overflow\" >" + p_row.changeAmount + "</td>";
                    l_StrRows += "<td class=\"overflow\" >" + p_row.balance + "</td>";
                    l_StrRows += "<td class=\"overflow\" title=\"" + p_row.createTime + "\">" + p_row.createTime + "</td>";
                    l_StrRows += "<td class=\"operation\"><a href=\"javascript:void(0)\" operate=\"details\" class=\"a-btn\">查看</a></td>";
                    l_StrRows += "</tr>";
                    return l_StrRows;
                },
                operate: {
                    "details": function (obj) {
                        var url = '/Biz/Transactions/Details?id=' + obj.id;
                        var title = '查看资金流水';
                        art.dialog.open(url, { title: title, width: '550px', height: '350px', lock: true, drag: false, cancelVal: '关闭', cancel: true });
                    }
                }
            });

        });
    </script>


}

<div>
    <div class="tab" id="tab1">
        <div class="tab-item">
            <ul>
                <li class="item first selected"><a class="a-btn-info" href="javascript:void(0)">商户信息</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">POS机信息</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">银行卡</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">提现记录</a></li>
                <li class="item"><a class="a-btn-info" href="javascript:void(0)">资金流水</a></li>
            </ul>
        </div>
        <div class="tab-content">
            <div class="subcontent">
                <div class="gbr-row-title clearfix">
                    <div class="pull-left">
                        <h5>商户基本信息</h5>
                    </div>
                    <div class="pull-right f-tb1-item-pull-right">
                        <h6></h6>
                    </div>
                </div>
                <table class="f-tb1-detail">
                    <tr>
                        <td class="t">商户代码：</td>
                        <td class="c">
                            <span>@Model.Merchant.ClientCode</span>
                        </td>
                        <td class="t">商户类型：</td>
                        <td class="c">
                            <span>@Model.Merchant.Type.GetCnName()</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="t">联系人：</td>
                        <td class="c">
                            <span>@Model.Merchant.ContactName</span>
                        </td>
                        <td class="t">联系电话：</td>
                        <td class="c">
                            <span>@Model.Merchant.ContactPhoneNumber</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="t">所在地区：</td>
                        <td class="c">
                            <span>
                                @Model.Merchant.Area
                            </span>
                        </td>
                        <td class="t">联系地址：</td>
                        <td class="c">
                            <span>@Model.Merchant.ContactAddress</span>
                        </td>
                    </tr>

                    @if (Model.Merchant.Type == Lumos.Entity.Enumeration.MerchantType.CarRepair)
                    {
                        <tr>
                            <td class="t">维修能力：</td>
                            <td class="c">
                                <span>@Model.Merchant.RepairCapacity.GetCnName()</span>
                            </td>
                            <td class="t"></td>
                            <td class="c">
                                <span></span>
                            </td>
                        </tr>
                    }

                    @if (Model.Merchant.RepairCapacity == Lumos.Entity.Enumeration.RepairCapacity.EstimateAndRepair)
                    {
                        <tr>
                            <td class="t">定损公司：</td>
                            <td class="c" colspan="3">

                                @{
                                    string checkeds = "";
                                }

                                @for (var i = 0; i < Model.CarInsuranceCompany.Count; i++)
                                {

                                    if (Model.MerchantEstimateCompany != null)
                                    {
                                        int[] estimateInsuranceCompanyIds = (from q in Model.MerchantEstimateCompany select q.InsuranceCompanyId).ToArray();

                                        if (estimateInsuranceCompanyIds != null)
                                        {
                                            if (estimateInsuranceCompanyIds.Contains(Model.CarInsuranceCompany[i].InsuranceCompanyId))
                                            {
                                                checkeds += "<span style=\"padding-right:10px\">" + Model.CarInsuranceCompany[i].InsuranceCompanyName + "</span>";
                                            }
                                        }
                                    }
                                }

                                <span>@Html.Raw(checkeds)</span>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td class="t"></td>
                        <td class="c"></td>
                        <td class="t">业务员：</td>
                        <td class="c">
                            <span id="lbl_Merchant_Salesman">@(Model.Salesman == null ? "" : Model.Salesman.FullName + "(" + Model.Salesman.UserName + ")")</span>
                        </td>
                    </tr>
                </table>
                <div class="gbr-row-title clearfix">
                    <div class="pull-left">
                        <h5>营业执照信息</h5>
                    </div>
                    <div class="pull-right f-tb1-item-pull-right">
                        <h6></h6>
                    </div>
                </div>
                <table class="f-tb1-detail">
                    <tr>
                        <td class="t">注册号：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_RegisterNo</span>
                        </td>
                        <td class="t">商户名称：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_Name</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="t">类型：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_Type</span>
                        </td>
                        <td class="t">地址：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_Address</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="t">有效期（开始）：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_OperatingPeriodStart.ToUnifiedFormatDate()</span>
                        </td>
                        <td class="t">有效期（结束）：</td>
                        <td class="c">
                            <span>@Model.Merchant.YYZZ_OperatingPeriodStart.ToUnifiedFormatDate()</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="t">法人代表姓名：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_Name</span>
                        </td>
                        <td class="t">身份证号码：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_IdCardNo</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="t">住址：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_Address</span>
                        </td>
                        <td class="t">签发机关：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_IssuingAuthority</span>
                        </td>
                    </tr>

                    <tr>
                        <td class="t">有效期（开始）：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_ValidPeriodStart.ToUnifiedFormatDate()</span>
                        </td>
                        <td class="t">有效期（结束）：</td>
                        <td class="c">
                            <span>@Model.Merchant.FR_ValidPeriodEnd.ToUnifiedFormatDate()</span>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="subcontent">
                @for (int i = 0; i < Model.MerchantPosMachine.Count; i++)
                {
                    <div class="gbr-row-title clearfix">
                        <div class="pull-left">
                            <h5>POS机信息</h5>
                        </div>
                        <div class="pull-right f-tb1-item-pull-right">
                            <h6></h6>
                        </div>
                    </div>
                    <input type="hidden" name="Model.MerchantPosMachine[@i].Id" value="@Model.MerchantPosMachine[i].Id" />
                    <table class="f-tb1-detail">
                        <tr>
                            <td class="t">设备ID：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].PosMachine.DeviceId</span>
                            </td>
                            <td class="t">机身号：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].PosMachine.FuselageNumber</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">终端号：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].PosMachine.TerminalNumber</span>
                            </td>
                            <td class="t">版本号：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].PosMachine.Version</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">押金：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].Deposit.ToPrice()</span><span class="moneyunit">元</span>
                            </td>
                            <td class="t">租金/每月：</td>
                            <td class="c">
                                <span>@Model.MerchantPosMachine[i].Rent.ToPrice()</span><span class="moneyunit">元</span>
                            </td>
                        </tr>
                    </table>
                }

            </div>
            <div class="subcontent">
                @for (int i = 0; i < Model.BankCard.Count; i++)
                {
                    <div class="gbr-row-title clearfix">
                        <div class="pull-left">
                            <h5>银行卡信息</h5>
                        </div>
                        <div class="pull-right f-tb1-item-pull-right">
                            <h6></h6>
                        </div>
                    </div>
                    <input type="hidden" name="Model.BankCard[@i].Id" value="@Model.BankCard[i].Id" />
                    <table class="f-tb1-detail">
                        <tr>
                            <td class="t">开户行：</td>
                            <td class="c">
                                <span>@Model.BankCard[i].BankName</span>
                            </td>
                            <td class="t">持卡人：</td>
                            <td class="c">
                                <span>@Model.BankCard[i].BankAccountName</span>
                            </td>
                        </tr>
                        <tr>
                            <td class="t">开户账号：</td>
                            <td class="c" colspan="3">
                                <span>@Model.BankCard[i].BankAccountNo</span>
                            </td>
                        </tr>
                    </table>
                }
            </div>
            <div class="subcontent">
                <form id="form_withdraws" name="form_withdraws">
                    <input type="hidden" value="@Model.Merchant.UserId" name="UserId" />
                    <table id="list_withdraws" class="list-tb" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:15%">
                                    流水号
                                </th>
                                <th style="width:15%">
                                    提现金额
                                </th>
                                <th style="width:15%">
                                    提现实际金额
                                </th>
                                <th style="width:15%">
                                    提现费用
                                </th>
                                <th style="width:15%">
                                    状态
                                </th>
                                <th style="width:10%">
                                    结算开始时间
                                </th>
                                <th style="width:10%" class="operation">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="7">
                                    <div class="pull-left">

                                    </div>
                                    <div class="pull-right pagination">
                                        <div class="pagination-info">

                                        </div>
                                        <div class="pagination-index">

                                        </div>
                                        <div class="pagination-goto">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </form>
            </div>
            <div class="subcontent">
                <form id="form_transactions" name="form_transactions">
                    <input type="hidden" value="@Model.Merchant.UserId" name="UserId" />
                    <table id="list_transactions" class="list-tb" cellpadding="0" cellspacing="0">
                        <thead>
                            <tr>
                                <th style="width:15%">
                                    流水号
                                </th>
                                <th style="width:15%">
                                    类型
                                </th>
                                <th style="width:15%">

                                </th>
                                <th style="width:15%">
                                    余额
                                </th>
                                <th style="width:15%">
                                    日期
                                </th>
                                <th style="width:10%" class="operation">
                                    操作
                                </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="pull-left">

                                    </div>
                                    <div class="pull-right pagination">
                                        <div class="pagination-info">

                                        </div>
                                        <div class="pagination-index">

                                        </div>
                                        <div class="pagination-goto">

                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </form>
            </div>

        </div>
    </div>
</div>
